<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Importar Período</h1>
            <form class="periodo-form"  [formGroup]="importarPForm">
                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Bimestre</mat-label>
                    <mat-select [(value)]="bimestreSource" formControlName="bimestre" placeholder="Bimestre">
                        <mat-option value="Bimestre 1">Bimestre 1</mat-option>
                        <mat-option value="Bimestre 2">Bimestre 2</mat-option>
                        <mat-option value="Bimestre 3">Bimestre 3</mat-option>
                        <mat-option value="Bimestre 4">Bimestre 4</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker" formControlName="fechaI">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de Cierre</mat-label>
                    <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" formControlName="fechaF">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <h2 class="subtitulo">Seleccione el archivo conformado por postulantes para la maestría que desea importar a la aplicación</h2>

                <div class="upload_button">
                    <label>
                        <input type="file" formControlName="archivo" (change)="addfile($event)" accept="application/vnd.ms-excel" multiple="false">
                        <span class="span">Seleccionar Archivo</span>
                    </label>
                </div>


            </form>

        </div>
    </div>

    <app-barra-inferior></app-barra-inferior>

</div>