<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Importar Período</h1>
            <form class="periodo-form" (submit)="onSubmit()" [formGroup]="importarPForm">
                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Bimestre</mat-label>
                    <mat-select [(value)]="bimestreSource" formControlName="bimestre" placeholder="Bimestre">
                        <mat-option value="Bimestre 1">Bimestre 1</mat-option>
                        <mat-option value="Bimestre 2">Bimestre 2</mat-option>
                        <mat-option value="Bimestre 3">Bimestre 3</mat-option>
                        <mat-option value="Bimestre 4">Bimestre 4</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input [value]="fechaInicio.value" matInput [matDatepicker]="picker" formControlName="fechaI">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de Cierre</mat-label>
                    <input [value]="fechaFinal.value" matInput [matDatepicker]="picker2" formControlName="fechaF">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <h2 class="subtitulo">Seleccione el archivo conformado por postulantes para la maestría que desea importar a la aplicación</h2>

                <div class="upload_button">
                    <label>
                        <input type="file" formControlName="archivo">
                        <span id="archivo-subido" class="span">Seleccionar Archivo</span>

                    </label>
                    <span></span>
                    <!-- <label for="archivo" class="archivo-subir">Este es el arrhico</label> -->
                </div>

                <button mat-raised-button class="boton" type="submit">Importar período</button>

            </form>
       </div>
    </div>

    <app-barra-inferior></app-barra-inferior>

</div>