<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Preguntas frecuentes</h1>
            <mat-accordion class="formula-accordion">
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Cómo exporto a los admitidos de un período?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>En la página principal, se encuentran dos botones en la parte superior. El primero permite
                            exportar en formato .xlsx (excel) y el segundo en formato
                            .csv . El archivo descargado contendrá el período elegido así como si son estudiantes
                            admitidos o postulados.
                        </p>

                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Cómo puedo crear un nuevo período?

                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>Hay que acceder en el menú hambuerguesa la ópcion de períodos, seguidamente la de crear
                            período. Una vez en esta ventana, se tendrá que seleccionar
                            el Bimestre que se desea crear, así como sus fechas de inicio y cierre.</p>
                        <p>No se pueden crear períodos que sus fechas se intercepten ni que su fecha de cierre sea
                            anterior a la fecha de inicio </p>

                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Cómo puedo generar un memo?
                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>Para que esta función se efectue, tiene que haber un período vigente, de no ser así no se
                            podrá generar.
                        </p>
                        <p>Después se generará una ventana donde se deben de introducir unos datos básicos para el memo:
                        </p>
                        <ul>
                            <li>
                                MGP: número de consecutivo que tendrá este memorando
                            </li>
                            <li>
                                Destinatario: nombre de la persona a la que va dirigida el memo. Se debe poner el nombre
                                y el cargo separado por una coma. En el espacio de abajo iría el nombre del area
                                correspondiente. Ej:
                                <p><br>Dr. Jaime Solano Soto, Coordinador<br>
                                    Área Académica de Gerencia de Proyectos </p>
                            </li>
                            <li>
                                Remitente: nombre de la persona quien env el memo. Se debe poner el nombre y el cargo
                                separado por una coma. Se debe poner el nombre
                                y el cargo separado por una coma. En el espacio de abajo iría el nombre del area
                                correspondiente. Ej:
                                <p><br>Dr. Jaime Solano Soto, Coordinador<br>
                                    Área Académica de Gerencia de Proyectos </p>
                            </li>
                            <li>
                                Sede y Énfasis: se debe escoger la sede y énfasis correspondientes para el memo.
                            </li>
                            <li>
                                Iniciales: Se debe inidicar las iniciales del destinatario y de la persona que esta
                                generando el memo.
                            </li>

                        </ul>
                    </div>
                </mat-expansion-panel>
                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Cómo puedo exportar las gráficas y tablas?

                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>Una vez generadas las gráficas aparecerá un botón a la par del botón de generar para
                            descargarlas.</p>
                    </div>
                </mat-expansion-panel>

                <mat-expansion-panel>
                    <mat-expansion-panel-header>
                        <mat-panel-title>
                            ¿Cómo puedo repostular un estudiante?

                        </mat-panel-title>
                    </mat-expansion-panel-header>
                    <div>
                        <p>En la ventana de buscar postulante, al final de la tabla se encuentra un ícono con un
                            birrete. Al presionar este botón se procederá a repostular al estudiante
                            en el período actual. Recuerde que los datos de énfasis y sede deben escribirse exactamente
                            igual a como están en el formulario de postulación de la página del TEC.</p>
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </div>

    </div>

    <app-barra-inferior></app-barra-inferior>

</div>
<p>vtn-preguntas-frecuentes works!</p>