<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Preguntas Frecuentes</h1>
                <mat-accordion class="formula-accordion">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Pregunta numero 1
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Hola esta es la respuesta de la pregunta numero 1. Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.
                            </p>

                        </div>
                    </mat-expansion-panel>
                   
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Pregunta numero 2
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Hola esta es la respuesta de la pregunta numero 1. Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.
                            </p>

                        </div>
                    </mat-expansion-panel>
                   
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Pregunta numero 3
                            </mat-panel-title>
                        </mat-expansion-panel-header>
                        <div>
                            <p>Hola esta es la respuesta de la pregunta numero 1. Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.Tal vez sea larga
                                entonces voy a copiar y pegar esto muchas veces.
                            </p>

                        </div>
                    </mat-expansion-panel>
                   
                </mat-accordion>
                
        </div>

    </div>

    <app-barra-inferior></app-barra-inferior>

</div><p>vtn-preguntas-frecuentes works!</p>
