<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Crear usuario asistente</h1>

            <form class="periodo-form" (submit)="onSubmit()" [formGroup]="crearUsuForm">
                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Correo electrónico</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="correo" required>
                    <mat-error *ngIf="crearUsuForm.get('correo').invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Cédula</mat-label>
                    <input matInput formControlName="cedula" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwd" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button class="boton" type="submit">Crear usuario</button>
            </form>
        </div>
    </div>
    <app-barra-inferior></app-barra-inferior>



</div>