<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Crear Usuario Invitado</h1>

            <div class="componente">
                <label for="perido">Nombre</label>
                <input type="text">
            </div>
            <div class="componente">
                <label for="email">Correo de Usuario</label>
                <input type="email">
            </div>
            <div class="componente">
                <label for="cedula">Cédula</label>
                <input type="number" >
            </div>
            <div class="componente">
                <label for="password">Contraseña</label>
                <input type="password" >
            </div>
        </div>
        <div class="botones">
            <button class="boton">Crear</button>
           <button class="boton">Cancelar</button>


        </div>

    </div>


    <app-barra-inferior></app-barra-inferior>



</div>