<div>
    <div class="cuerpo-dialog">
        <div class="icono">
            <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
        </div>

        <span class="contenido">{{data.message}}</span>
        <span class="descrip">{{data.message1}}</span>
    </div>

    <div>
        <form class="memo-form"  [formGroup]="memoForm">
            <mat-form-field appearance="outline" class="inputVtn">
                <mat-label>Nombre Destinario</mat-label>
                <input matInput formControlName="destinatario" required>
            </mat-form-field>
            <mat-form-field appearance="outline" class="inputVtn">
                <mat-label>Nombre Remintente</mat-label>
                <input matInput formControlName="remintente" required>
            </mat-form-field>
            <mat-select [(value)]="SedeSource" formControlName="Sede" placeholder="Sede">
                <mat-option value="Sede 1">Sede 1</mat-option>        
            </mat-select>

        </form>

    </div>

    <div class="botones">
    <button mat-flat-button id="boton" [mat-dialog-close]="false" (click)="onDoc()">{{data.btn2}}</button>
    <button mat-flat-button id="boton" [mat-dialog-close]="true"(click)="onPDF()">{{data.btn1}}</button>
    <button mat-flat-button id="boton" [mat-dialog-close]="true"(click)="onEmail()">{{data.btn3}}</button>
    </div>  
</div>