<div>
    <div class="cuerpo-dialog">
        <div class="icono">
            <mat-icon id="close-icon" (click)="closeDialog()">close</mat-icon>
        </div>

        <span class="contenido">{{data.message}}</span>
        <span class="descrip">{{data.message1}}</span>

    </div>
    <div class="botones">
    <button mat-flat-button id="boton" [mat-dialog-close]="false" (click)="onDoc()">{{data.btn2}}</button>
    <button mat-flat-button id="boton" [mat-dialog-close]="true"(click)="onPDF()">{{data.btn1}}</button>
    <button mat-flat-button id="boton" [mat-dialog-close]="true"(click)="onEmail()">{{data.btn3}}</button>
    </div>  
</div>