<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Editar período de matrícula</h1>

            <form class="periodo-form" (submit)="onSubmit()" [formGroup]="editarPeForm">
                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Bimestre</mat-label>
                    <mat-select [(value)]="bimestreSource" placeholder="Bimestre" formControlName="bimestre" (selectionChange)="cargarFechas($event.value)">
                        <mat-option *ngFor= "let periodo of periodos" [value]="periodo">{{periodo.periodo}}</mat-option>

                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de Inicio</mat-label>
                    <input [value]="fechaInicio.value" matInput [matDatepicker]="picker" formControlName="fechaInicio">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de Cierre</mat-label>
                    <input [value]="fechaFinal.value" matInput [matDatepicker]="picker2" formControlName="fechaFinal">
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>

                <button mat-raised-button class="boton" type="submit">Guardar cambios</button>

            </form>

        </div>
    </div>


    <app-barra-inferior></app-barra-inferior>



</div>