<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Editar asistente</h1>
            <form class="periodo-form">
                <mat-form-field appearance="fill" class="inputVtn">
                    <mat-label>Nombre</mat-label>
                    <input matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="inputVtn">
                    <mat-label>Cédula</mat-label>
                    <input matInput required>
                </mat-form-field>
                <mat-form-field appearance="fill" class="inputVtn">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>
                <button mat-raised-button class="boton">Guardar cambios</button>
            </form>
        </div>
    </div>
    <app-barra-inferior></app-barra-inferior>

</div>