<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Editar postulante</h1>
            <form class="periodo-form" (submit)="onSubmit()" [formGroup]="editarPosForm">
                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Cédula</mat-label>
                    <input matInput formControlName="cedula" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="nombre" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Género</mat-label>
                    <mat-select formControlName="genero">
                        <mat-option value="Femenino">Femenino</mat-option> 
                        <mat-option value="Masculino">Masculino</mat-option>
                        <mat-option value="Otro">Otro</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Fecha de nacimiento</mat-label>
                    <input matInput [matDatepicker]="picker" formControlName="fechaNacimiento">
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Teléfono 1</mat-label>
                    <input matInput formControlName="telefono1" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Teléfono 2</mat-label>
                    <input matInput formControlName="telefono2">
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Correo electrónico principal</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="correo1" required>
                    <mat-error *ngIf="editarPosForm.get('correo1').invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Correo electrónico secundario</mat-label>
                    <input matInput placeholder="pat@example.com" formControlName="correo2">
                    <mat-error *ngIf="editarPosForm.get('correo2').invalid">{{getErrorMessage2()}}</mat-error>
                </mat-form-field>

                <mat-checkbox formControlName="ingles">Nivel instrumental de inglés</mat-checkbox>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Máximo grado académico</mat-label>
                    <mat-select formControlName="gradoAca">
                        <mat-option value="Bachillerato">Bachillerato</mat-option>
                        <mat-option value="Licenciatura">Licenciatura</mat-option>
                        <mat-option value="Maestría">Maestría</mat-option>
                        <mat-option value="Doctorado">Doctorado</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Universidad</mat-label>
                    <input matInput formControlName="universidad" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Afinidad profesional</mat-label>
                    <mat-select formControlName="afinidad">
                        <mat-option value="Alta">Alta</mat-option> 
                        <mat-option value="Media">Media</mat-option>
                        <mat-option value="Baja">Baja</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-checkbox formControlName="acreditada">Carrera acreditada</mat-checkbox>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Puesto actual</mat-label>
                    <mat-select formControlName="puestoActual">
                        <mat-option value="Profesional sin personal a cargo">Profesional sin personal a cargo</mat-option>
                        <mat-option value="Profesional miembro de equipo de proyectos">Profesional miembro de equipo de proyectos</mat-option>
                        <mat-option value="Jefatura intermedia (coordinación/supervisión)">Jefatura intermedia (coordinación/supervisión)</mat-option>
                        <mat-option value="Gerencia/Dirección General">Gerencia/Dirección General</mat-option>
                        <mat-option value="Trabajor independiente/dueño de empresa">Trabajor independiente/dueño de empresa</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Experiencia profesional</mat-label>
                    <input matInput formControlName="experienciaProfesion" type="number" min="0" max="100" required>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Cantidad de cursos de aprovechamiento</mat-label>
                    <input matInput formControlName="cursoAprovechamiento" type="number" min="0" max="100" required>
                </mat-form-field>

                <mat-checkbox formControlName="tTecnico">Título de técnico en el área de proyectos</mat-checkbox>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Cantidad de cursos a nivel de maestría</mat-label>
                    <input matInput formControlName="cursoAfin" type="number" min="0" max="100" required>
                </mat-form-field>

                <mat-checkbox formControlName="tDiplomado">Título de diplomado o especialista</mat-checkbox>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Promedio general</mat-label>
                    <input matInput formControlName="promedio" type="number" min="0" max="100" required>
                </mat-form-field>

                <button mat-raised-button class="boton" type="submit" min>Guardar cambios</button>
            </form>

        </div>

    </div>

    <app-barra-inferior></app-barra-inferior>

</div>