<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Importar Archivo de Postulantes</h1>
            <h2 class="subtitulo">
                Seleccione el archivo conformado por postulantes para la maestría que desea importar a la aplicación</h2>
            <form class="formI" (submit)="onSubmit()" [formGroup]="importarAForm">
                <div class="upload_button">
                    <label>
                    <input type="file"  class="form-control" formControlName="archivo" (change)="addfile($event)" accept="application/vnd.ms-excel">
                    <span class="span">Seleccionar Archivo</span>
                </label>
                </div>
                <div>
                    <button mat-raised-button class="boton" type="submit">Importar datos</button>
                </div>
            </form>
        </div>

    </div>


    <app-barra-inferior></app-barra-inferior>



</div>