<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Importar Archivo de Postulantes</h1>
            <h2 class="subtitulo">
                Seleccione el archivo conformado por postulantes
                para la maestría que desea importar a la aplicación</h2>

            <div class="upload_button">
                <label>
                    <input type="file">
                    <span class="span">Seleccionar Archivo</span>
                </label>
            </div>
            <div>

                <button class="boton">Importar</button>

            </div>

        </div>

    </div>


    <app-barra-inferior></app-barra-inferior>



</div>