table {
    width: 100%;
}

.tamano {
    height: 100%;
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 50%;
    padding: 10px;
}

.titulo {
    font-family: 'Times New Roman', Times, serif;
}

.cuerpo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100% - 140px);
    top: 85px;
}

.mat-sort-header-container {
    text-align: center;
}

.encabezado {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 50%;
    position: fixed;
    top: 85px;
}

.opciones {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    position: static;
}

.mat-table {
    text-align: center;
    padding: 10px;
    overflow: auto;
    align-self: stretch;
    overflow-x: scroll;
    margin-top: 22%;
    text-align: center;
}

.search {
    display: flex;
    justify-content: center;
}

.mat-cell, .mat-header-cell {
    word-wrap: initial;
    display: table-cell;
    padding: 0px 10px;
    line-break: unset;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    vertical-align: middle;
    border-right: 1px solid grey;
    text-align: center;
}

.mat-row, .mat-header-row {
    display: table-row;
}

.mat-row:nth-child(even){
    background-color:#cdcdcd;
    }

