<div class="tamano">
    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">
        <div class="encabezado">
            <h1 class="titulo">Listado de Postulantes</h1>
            <div class="opciones">
                <mat-form-field class="inputVtn" appearance="outline">
                    <mat-label>Admitidos/Postulantes</mat-label>
                    <mat-select [formControl]="datos">
                        <mat-option value="Postulantes" (click)='selectDatos()'>Postulantes</mat-option>
                        <mat-option value="Admitidos" (click)='selectDatos()'>Admitidos</mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="inputVtn" appearance="outline">
                    <mat-label>Elegir período</mat-label>
                    <mat-select [formControl]="periodo">
                        <mat-option value="Bimestre 1 2015" (click)='selectPeriodo()'>Bimestre 1 2015</mat-option>
                        <mat-option value="Bimestre 4 2017" (click)='selectPeriodo()'>Bimestre 4 2017</mat-option>
                    </mat-select>
                </mat-form-field>
                <button mat-icon-button class="icon1" matTooltip="Descargar Archivo" matTooltipPosition="after" (click)='descargarArchivo()'>
                    <mat-icon>save_alt</mat-icon>
                </button>
            </div>
        </div>

        <div class="contenedor-tabla" #TABLE>
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- cedula Column -->
                <ng-container matColumnDef="cedula" sticky>
                    <th mat-header-cell *matHeaderCellDef> Cédula </th>
                    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>

                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- telefono1 Column -->
                <ng-container matColumnDef="telefono1">
                    <th mat-header-cell *matHeaderCellDef> Teléfono </th>
                    <td mat-cell *matCellDef="let element"> {{element.telefono1}} </td>
                </ng-container>

                <!-- telefono2 Column -->
                <ng-container matColumnDef="telefono2">
                    <th mat-header-cell *matHeaderCellDef> Teléfono Alternartivo</th>
                    <td mat-cell *matCellDef="let element"> {{element.telefono2}} </td>
                </ng-container>

                <!-- correo1 Column -->
                <ng-container matColumnDef="correo1">
                    <th mat-header-cell *matHeaderCellDef> Correo Principal </th>
                    <td mat-cell *matCellDef="let element"> {{element.correo1}} </td>
                </ng-container>

                <!-- correo2 Column -->
                <ng-container matColumnDef="correo2">
                    <th mat-header-cell *matHeaderCellDef> Correo Alternartivo </th>
                    <td mat-cell *matCellDef="let element"> {{element.correo2}} </td>
                </ng-container>

                <!-- ingles Column -->
                <ng-container matColumnDef="ingles">
                    <th mat-header-cell *matHeaderCellDef> Inglés </th>
                    <td mat-cell *matCellDef="let element"> {{element.ingles?'Si':'No'}} </td>
                </ng-container>

                <!-- gradoAcademico Column -->
                <ng-container matColumnDef="gradoAcademico">
                    <th mat-header-cell *matHeaderCellDef> Máximo Grado Académico </th>
                    <td mat-cell *matCellDef="let element"> {{element.gradoAcademico}} </td>
                </ng-container>

                <!-- universidad Column -->
                <ng-container matColumnDef="universidad">
                    <th mat-header-cell *matHeaderCellDef> Universidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.universidad}} </td>
                </ng-container>

                <!-- afinidad Column -->
                <ng-container matColumnDef="afinidad">
                    <th mat-header-cell *matHeaderCellDef> Afinidad </th>
                    <td mat-cell *matCellDef="let element"> {{element.afinidad?'Si':'No'}} </td>
                </ng-container>

                <!-- acreditada Column -->
                <ng-container matColumnDef="acreditada">
                    <th mat-header-cell *matHeaderCellDef> Acreditada </th>
                    <td mat-cell *matCellDef="let element"> {{element.acreditada?'Si':'No'}} </td>
                </ng-container>

                <!-- puestoActual Column -->
                <ng-container matColumnDef="puestoActual">
                    <th mat-header-cell *matHeaderCellDef> Puesto Actual </th>
                    <td mat-cell *matCellDef="let element"> {{element.puestoActual}} </td>
                </ng-container>

                <!-- experiencia Column -->
                <ng-container matColumnDef="experiencia">
                    <th mat-header-cell *matHeaderCellDef> Experiencia Laboral </th>
                    <td mat-cell *matCellDef="let element"> {{element.experienciaProfesion}} </td>
                </ng-container>

                <!-- cursoAfin Column -->
                <ng-container matColumnDef="cursoAfin">
                    <th mat-header-cell *matHeaderCellDef> Curso Afín </th>
                    <td mat-cell *matCellDef="let element"> {{element.cursoAfin}} </td>
                </ng-container>

                <!-- tituloTecnico Column -->
                <ng-container matColumnDef="tituloTecnico">
                    <th mat-header-cell *matHeaderCellDef> TÍtulo Técnico </th>
                    <td mat-cell *matCellDef="let element"> {{element.tituloTecnico?'Si':'No'}} </td>
                </ng-container>

                <!-- cursoAprovechamiento Column -->
                <ng-container matColumnDef="cursoAprovechamiento">
                    <th mat-header-cell *matHeaderCellDef> Curso Aprovechamiento </th>
                    <td mat-cell *matCellDef="let element"> {{element.cursoAprovechamiento}} </td>
                </ng-container>

                <!-- tituloDiplomado Column -->
                <ng-container matColumnDef="tituloDiplomado">
                    <th mat-header-cell *matHeaderCellDef> Título Diplomado </th>
                    <td mat-cell *matCellDef="let element"> {{element.tituloDiplomado?'Si':'No'}} </td>
                </ng-container>

                <!-- promedioGeneral Column -->
                <ng-container matColumnDef="promedioGeneral">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Promedio General </th>
                    <td mat-cell *matCellDef="let element"> {{element.promedioGeneral}} </td>
                </ng-container>

                <!-- enfasis Column -->
                <ng-container matColumnDef="enfasis">
                    <th mat-header-cell *matHeaderCellDef> Énfasis </th>
                    <td mat-cell *matCellDef="let element"> {{element.enfasis}} </td>
                </ng-container>

                <!-- sede Column -->
                <ng-container matColumnDef="sede">
                    <th mat-header-cell *matHeaderCellDef> Sede </th>
                    <td mat-cell *matCellDef="let element"> {{element.sede}} </td>
                </ng-container>

                <!-- nota Column -->
                <ng-container matColumnDef="nota">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nota </th>
                    <td mat-cell *matCellDef="let element"> {{element.nota}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button color="warn" (click)="onDelete(row, $event)" matTooltip="Eliminar Registro" matTooltipPosition="above">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <mat-paginator [length]="10" [pageSize]="10" showFirstLastButtons></mat-paginator>

        <div class="botones">
            <div class="izq">
                <button mat-raised-button class="boton">Generar Gráficas</button>
                <button mat-raised-button class="boton">Generar Tablas</button>
            </div>
            <div class="der" *ngIf="show">
                <button mat-raised-button class="boton" (click)="goImportarArchivo()">Importar Archivo</button>
                <button mat-raised-button class="boton">Generar Memo</button>
            </div>
        </div>
    </div>


    <app-barra-inferior></app-barra-inferior>
</div>