<div class=" barraSuperior">

    <div class="Logo">
        <img src="/assets/img/marcaTec.png" alt="imagen" class="logoTec">
    </div>
    
    <div class="barra-derecha" >
        <h1 class="Titulo-barra"> Área Académica de Gerencia de Proyectos </h1>
        
        <button mat-button [matMenuTriggerFor]="beforeMenu" class="botonMenu">
            <img src="/assets/img/menu.png" alt="imagen" class="logoMenu">
        </button>
        <mat-menu #beforeMenu="matMenu" xPosition="before" class="contenedorMenu">
            <button mat-menu-item class="opcionMenu">Editar perfil</button>
            <button mat-menu-item class="opcionMenu">Crear período</button>
            <button mat-menu-item class="opcionMenu">Editar período</button>a
            <button mat-menu-item class="opcionMenu">Buscar postulante</button>
            <button mat-menu-item class="opcionMenu">Crear usuario</button>
            <button mat-menu-item class="opcionMenu">Editar fórmula</button>
            <button mat-menu-item class="opcionMenu">Visualizar históricos</button>
            <button mat-menu-item class="opcionMenu">Importar Período</button>
            <button mat-menu-item class="opcionMenu">Cerrar sesión</button>
        </mat-menu>
    </div>

</div>
