.tamano {
    height: 100%;
    width: 100%;
}

.blanco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 85px;
}

.cuadro {
    background-color: #E2E2E2;
    width: 40vw;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.titulo {
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    padding: 10px 40px;
    text-align: center;
}

.letras {
    font-size: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}

.Boton {
    background-color: #1F2F5F;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    border: none;
    height: 30px;
    /* width: 25%; */
    text-align: center;
}

.recuperar {
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    color: #1F2F5F;
    /* DA3A2F */
}

.example-container .mat-form-field+.mat-form-field {
    margin-left: 8px;
}

.example-right-align {
    text-align: right;
}

input.example-right-align::-webkit-outer-spin-button,
input.example-right-align::-webkit-inner-spin-button {
    display: none;
}

input.example-right-align {
    -moz-appearance: textfield;
}

.inputVtn {
    width: 250px;
}

.periodo-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    height: 60%;
    margin-bottom: 25px;
}

.boton {
    background-color: #1F2F5F;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 15px;
}