<div class="tamano">
    <app-barra-superior></app-barra-superior>

    <div class="blanco">

        <div class="cuadro">
            <div>
                <h1 class="titulo">
                    Sistema de automatización de postulación e ingreso a
                    la maestría en Gerencia de Proyectos
                    del Tecnológico de Costa Rica</h1>
            </div>
            <!-- <div class="form">
                <input type="email" placeholder="Correo Electrónico">
            </div>
            <div class="form">
                <input type="password" placeholder="Contraseña">
            </div>
            <div class="Boton">
                <button class="Boton"> Iniciar Sesión </button>
            </div>
            <div>
                <label for="forgot" class="recuperar">Olvidé mi contraseña</label>
            </div> -->

            <mat-form-field appearance="fill">
                <mat-label>Enter your password</mat-label>
                <input matInput [type]="hide ? 'password' : 'text'">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
        </div>



    </div>
    <app-barra-inferior></app-barra-inferior>
</div>