<div class="tamano">
    <app-barra-superior></app-barra-superior>

<div class="blanco">

    <div class="cuadro">
        <div class="pass">
            <label class="tu"> Hola1</label>
            <input type="text">
        </div>
        <label class="tu"> Hola</label>
        <label class="tu"> Hola</label>
        <label class="tu"> Hola</label>
        <label class="tu"> Hola</label>
        <label class="tu"> Hola</label>
        <label class="tu"> Hola</label>
    </div>


</div>
    <app-barra-inferior></app-barra-inferior>
</div>