<div class="tamano">
    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">
        <div class="encabezado">
            <h1 class="titulo">Listado de asistentes</h1>
            <div class="opciones">
                    <mat-form-field appearance="outline">
                        <mat-label>Buscar</mat-label>
                        <input matInput (keyup)="applyFilter($event)">
                    </mat-form-field>
            </div>
        </div>

        <div class="contenedor-tabla">
            <table mat-table [dataSource]="dataSource" matSort>

                <!-- cedula Column -->
                <ng-container matColumnDef="cedula">
                    <th mat-header-cell *matHeaderCellDef> Cédula </th>
                    <td mat-cell *matCellDef="let element"> {{element.cedula}} </td>
                </ng-container>

                <!-- nombre Column -->
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                    <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
                </ng-container>

                <!-- correo Column -->
                <ng-container matColumnDef="correo">
                    <th mat-header-cell *matHeaderCellDef> Correo </th>
                    <td mat-cell *matCellDef="let element"> {{element.correo}} </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-icon-button (click)="onEdit(row, $event)" matTooltip="Editar Asistente" matTooltipPosition="before">
                        <mat-icon>edit</mat-icon>
                    </button>
                        <button mat-icon-button (click)="onDelete(row, $event)" color="warn" matTooltip="Eliminar Asistente" matTooltipPosition="after">
                            <mat-icon>delete_outline</mat-icon>
                        </button>
                    </mat-cell>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>


        </div>
        <mat-paginator [length]="10" [pageSize]="10" showFirstLastButtons>
        </mat-paginator>

    </div>


    <app-barra-inferior></app-barra-inferior>
</div>