<div class="tamano">

    <app-barra-sistema></app-barra-sistema>

    <div class="cuerpo">

        <div class="cuadro">
            <h1 class="titulo">Editar superusuario</h1>
            <form class="periodo-form" (submit)="onSubmit()" [formGroup]="editarSupForm">
                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Contraseña</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="passwd" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" type="button">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <mat-form-field appearance="outline" class="inputVtn">
                    <mat-label>Correo para envío de notificaciones</mat-label>
                    <input matInput placeholder="pat@example.com" [formControl]="email" formControlName="correo" required>
                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                </mat-form-field>

                <button mat-raised-button class="boton" type="submit">Guardar cambios</button>
            </form>
        </div>
    </div>
    <app-barra-inferior></app-barra-inferior>

</div>